<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gemini.round_corner"
    android:versionCode="2"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/blank">
        <activity android:name=".RoundCorner"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="Round Corner"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".RoundCorner" />
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".RCService"
                 android:label="RoundCorner Service" />

        <receiver android:name=".RCReceiver"
            android:label="RCReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />                
            </intent-filter>
        </receiver>
    </application>
</manifest>
